@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Lato:wght@100;300&family=Oswald&family=Roboto+Mono:wght@200&display=swap");

/* 
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace; */

.karla {
  font-family: "Karla", sans-serif;
}
.lato {
  font-family: "Lato", sans-serif;
}
.oswald {
  font-family: "Oswald", sans-serif;
}
.roboto {
  font-family: "Roboto Mono", monospace;
}

.btn {
  @apply px-3 py-1 rounded-md duration-200;
}

.title {
  @apply my-3 relative block font-semibold before:block before:absolute before:-bottom-1 before:bg-emerald-600 before:duration-200 before:h-1 before:rounded before:w-0 before:hover:w-3/4;
}
.title.primary {
  @apply text-3xl;
}
.title.secondary {
  @apply text-xl;
}

.form-control {
  @apply mt-4;
}

.form-control.input label {
  @apply block text-sm  font-semibold text-gray-700;
}
.form-control.input input {
  @apply mt-1 focus:ring-orange-700 focus:border-emerald-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
}
.form-control.input input:disabled {
  @apply bg-gray-300 text-gray-500;
}

.form-control.textarea label {
  @apply block text-sm font-medium text-gray-700;
}
.form-control.textarea textarea {
  @apply mt-1 focus:ring-emerald-500 focus:border-emerald-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
}

.form-control.textarea textarea:disabled {
  @apply bg-gray-300 text-gray-500;
}

.form-control.select label {
  @apply block text-sm font-semibold text-gray-700;
}
.form-control.select select {
  @apply mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm;
}

.form-control.checkbox {
  @apply flex items-center;
}
.form-control.checkbox label {
  @apply block text-sm font-medium text-gray-700 mr-3;
}
.form-control.checkbox input {
  @apply focus:ring-emerald-500 h-4 w-4 text-emerald-600 border-gray-300 rounded;
}

.form-control.radio div {
  @apply flex items-center mt-1;
}
.form-control.radio div label {
  @apply block text-sm font-medium text-gray-700 mr-3;
}
.form-control.radio div input {
  @apply focus:ring-emerald-500 h-4 w-4 text-emerald-600 border-gray-300 rounded-full;
}

.animation-image {
  @apply cursor-pointer duration-200;
}
.animation-image:hover {
  @apply scale-75;
}

.primary {
  background-color: #1c3144;
}
.menuBtn {
  background-color: #e94e1b;
}
.text-primary {
  color: #e94e1b;
}
.myShop {
  background-color: #1c3144;
}
.text-test {
  color: #1c3144;
}
.myBtn {
  color: #1c3144;

  background-color: #ffb9a141;
  font-family: "Lato", sans-serif;
}
.bgNew {
  background-color: rgb(252, 236, 217);
}
.button-of-carousel {
  background-color: #e94e1b;
  color: white;
  font-size: 1.4rem;
  margin: 2rem;
  padding: 0.4rem;
}
.custom-button {
  background-color: #e94e1b;
  color: white;
  font-size: 1.4rem;
}
.button-style-default {
  @apply mt-4 text-center h-10 w-auto px-4;
  @apply custom-button;
}
.custom-border-input {
  border-color: #e94e1b;
  outline: none;
}
.border-input {
  @apply border-2  w-full;
  @apply custom-border-input;
}
.custom-text-area-default {
  height: auto;
  min-height: 100px;
  max-height: 300px;
  overflow-y: hidden;
  resize: none;
  border-color: #e94e1b;
}
.text-area-default {
  @apply w-full;
  @apply custom-text-area-default;
}

.footerListTitle {
  text-align: center;
  font-family: "Osvald" sans-serif;
  color: #1c3144;
  font-weight: 800;
}
.footerListItem {
  text-align: center;
  font-family: "Osvald" sans-serif;
  color: #1c3144;
  font-weight: 300;
}
h1,
h2 {
  color: #1c3144;
  font-family: "Roboto Mono", monospace;
}
